

body {
	margin: 0;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

#tang {

}

#content {
	
	padding-bottom: 5em;

	//List view
	#list {
	
		ul {

			li {

			}
		}
	}
	


	// Markdown single page
	$padding-sides: 50px;
	#header {
		padding: 0.69em $padding-sides;
		
		text-align: right;
		$header-color: rgb(222, 222, 222);
		background: $header-color;

		// font-style: oblique;
		color: darken($header-color, 30%);

		.filename {
			float: left;
		}
		.meta {
			float: right;
		}
		&:after {
			content: " ";
			font-size: 1px;
			display: block;
			clear: both;
		}
	}
	#markdown {
		padding: 1em $padding-sides;

	}

	@import "markdown.scss";

}