@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:700,700italic);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);
/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 18, ../../scss/style.scss */
body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* line 23, ../../scss/style.scss */
a {
  color: #00B7FF;
}

/* line 31, ../../scss/style.scss */
#content {
  padding-bottom: 5em;
}
/* line 50, ../../scss/style.scss */
#content #header {
  padding: 0.69em 50px;
  margin-bottom: 1em;
  text-align: right;
  background: #dedede;
  color: #929292;
}
/* line 62, ../../scss/style.scss */
#content #header .filename {
  float: left;
}
/* line 67, ../../scss/style.scss */
#content #header .filename a:link, #content #header .filename a:visited {
  color: #929292;
  text-decoration: none;
}
/* line 71, ../../scss/style.scss */
#content #header .filename a:hover, #content #header .filename a:active {
  text-decoration: underline;
}
/* line 76, ../../scss/style.scss */
#content #header .meta {
  float: right;
}
/* line 79, ../../scss/style.scss */
#content #header:after {
  content: " ";
  font-size: 1px;
  display: block;
  clear: both;
}
/* line 86, ../../scss/style.scss */
#content #markdown {
  padding: 0 50px;
}

/* line 61, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 112.5%;
}

/* line 64, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 18px;
  line-height: 27px;
}

/* line 3, ../../scss/_markdown.scss */
#markdown {
  font-family: "PT Serif", serif;
}
/* line 10, ../../scss/_markdown.scss */
#markdown h1, #markdown h2, #markdown h3, #markdown h4, #markdown h5, #markdown h6 {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
}
/* line 15, ../../scss/_markdown.scss */
#markdown h1 {
  font-weight: 800;
  font-size: 45px;
  line-height: 54px;
  margin-top: 43px;
  margin-bottom: 10px;
}
/* line 21, ../../scss/_markdown.scss */
#markdown h2 {
  font-size: 36px;
  line-height: 54px;
  margin-top: 13px;
  margin-bottom: 13px;
}
/* line 26, ../../scss/_markdown.scss */
#markdown h3 {
  font-size: 27px;
  line-height: 54px;
  margin-top: 0px;
  margin-bottom: 0px;
}
/* line 32, ../../scss/_markdown.scss */
#markdown h4, #markdown h5, #markdown h6 {
  font-size: 18px;
  line-height: 27px;
}
/* line 38, ../../scss/_markdown.scss */
#markdown p, #markdown blockquote, #markdown pre, #markdown pre > code {
  font-size: 18px;
  line-height: 27px;
  margin-top: 27px;
  margin-bottom: 27px;
}
/* line 44, ../../scss/_markdown.scss */
#markdown h3 + p {
  margin-top: 0px;
}
/* line 48, ../../scss/_markdown.scss */
#markdown blockquote {
  border-left: 10px solid #dedede;
  padding-left: 1em;
  margin-left: 0;
}
/* line 54, ../../scss/_markdown.scss */
#markdown ul {
  list-style: disc;
}
/* line 58, ../../scss/_markdown.scss */
#markdown ol {
  list-style: decimal;
}
/* line 62, ../../scss/_markdown.scss */
#markdown ul, #markdown ol {
  font-size: 18px;
  line-height: 27px;
  margin-top: 27px;
  margin-bottom: 27px;
  padding-left: 2em;
}
/* line 70, ../../scss/_markdown.scss */
#markdown ul li, #markdown ol li {
  margin-top: 0px;
  margin-bottom: 0px;
}
/* line 76, ../../scss/_markdown.scss */
#markdown ul ul, #markdown ul ol, #markdown ol ul, #markdown ol ol {
  margin-top: 0px;
  margin-bottom: 0px;
}
/* line 82, ../../scss/_markdown.scss */
#markdown hr {
  border: 0;
  height: 0;
  border-bottom: 4px solid #dedede;
  margin: 0 0 -4px 0;
}
/* line 90, ../../scss/_markdown.scss */
#markdown pre, #markdown code {
  font-family: 'Source Code Pro', monospace !important;
}
/* line 94, ../../scss/_markdown.scss */
#markdown pre {
  border-style: solid;
  border-width: 1px;
  padding: 26px;
  background-color: #f8f8f8;
  border-color: #c5c5c5;
  border-radius: 3px;
}
/* line 101, ../../scss/_markdown.scss */
#markdown code {
  border-style: solid;
  border-width: 1px;
  padding: -1px;
  background-color: #f8f8f8;
  border-color: #c5c5c5;
  border-radius: 3px;
  padding-left: 0.5ch;
  padding-right: 0.5ch;
}
/* line 110, ../../scss/_markdown.scss */
#markdown pre > code {
  background-color: none;
  border: none;
  padding: 0;
}
